/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes buttonHover {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 53.75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 53.75em) {
    body {
      padding: 0; } }

::selection {
  background-color: #9431E4;
  color: white; }

@font-face {
  font-family: "Avenir Next-Demibold";
  src: url(../../css/fonts/AvenirNextLTPro-Demi.otf);
  font-size: normal; }

@font-face {
  font-family: "Avenir Next-Mediam";
  src: url(../../css/fonts/AvenirNextLTPro-Regular.otf);
  font-size: normal; }

body {
  font-family: "Avenir Next-Mediam";
  font-weight: 500;
  color: #1F2A3A; }

.heading-h1 {
  font-size: 2rem;
  font-family: "Avenir Next-Demibold";
  line-height: 3rem;
  text-align: center;
  text-decoration: none; }

.heading-h15 {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 2.3rem;
  text-decoration: none; }
  .heading-h15--bold {
    font-size: 1.6rem;
    line-height: 2.0rem;
    font-family: "Avenir Next-Demibold"; }

.heading-h2 {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2.3rem;
  text-decoration: none; }
  .heading-h2--bold {
    font-size: 1.6rem;
    line-height: 2.0rem;
    font-family: "Avenir Next-Demibold"; }

.heading-h3 {
  font-size: 1.4rem !important;
  line-height: 1.9rem;
  font-weight: normal;
  text-decoration: none;
  color: #1F2A3A; }
  .heading-h3--bold {
    font-family: "Avenir Next-Demibold"; }
  .heading-h3--purpur {
    color: #772FE4;
    text-decoration: none; }

.heading-h4 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-decoration: none; }
  .heading-h4__bold {
    font-family: "Avenir Next-Demibold"; }

.heading-h5 {
  font-size: 1rem;
  line-height: 1.6rem;
  color: #797F89;
  text-decoration: none; }

.heading-h5--bold {
  font-size: 1rem;
  line-height: 1.6rem;
  color: #1F2A3A;
  font-weight: bold;
  text-decoration: none; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 53.75em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

@media only screen and (max-width: 48em) {
  .u-fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 53.75em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-display-flex {
  display: flex;
  justify-content: center; }

.u-for-screen-reader-purpes {
  display: none; }

.u-hidden-scroll {
  overflow: auto;
  width: 110%; }
  @media only screen and (max-width: 48em) {
    .u-hidden-scroll {
      width: 100%; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-left-0.5 {
  margin-left: 0.5rem; }

.u-margin-left-1 {
  margin-left: 1rem; }

.u-shedow {
  box-shadow: 2px -2px 50px #95989A; }

.u-margin-left-15 {
  margin-left: 1.5rem; }

.u-margin-left-2 {
  margin-left: 2rem; }

.u-margin-left-3 {
  margin-left: 3rem; }

.u-margin-right-05 {
  margin-right: 0.5rem; }

.u-margin-right-1 {
  margin-right: 1rem; }

.u-margin-right-15 {
  margin-right: 1.5rem; }

.u-margin-right-2 {
  margin-right: 2rem; }

.u-margin-right-25 {
  margin-right: 2.5rem; }

.u-margin-right-3 {
  margin-right: 3rem; }

.u-margin-right-4 {
  margin-right: 4rem; }

.u-margin-top-05 {
  margin-top: 0.5rem; }

.u-margin-top-1 {
  margin-top: 1rem; }

.u-margin-top-15 {
  margin-top: 1.5rem; }

.u-margin-top-2 {
  margin-top: 2rem; }

.u-margin-bottom-05 {
  margin-bottom: 0.5rem; }

.u-margin-bottom-1 {
  margin-bottom: 1rem; }

.u-margin-bottom-15 {
  margin-bottom: 1.5rem; }

.u-margin-bottom-2 {
  margin-bottom: 2rem; }

.u-margin-bottom-25 {
  margin-bottom: 2.5rem; }

.u-margin-bottom-3 {
  margin-bottom: 3rem; }

.u-margin-bottom-35 {
  margin-bottom: 3.5rem; }

.u-margin-bottom-4 {
  margin-bottom: 4rem; }

.authorization__container {
  display: flex;
  background-color: white;
  height: 884px; }
  @media only screen and (max-width: 48em) {
    .authorization__container {
      flex-direction: column;
      height: 100vh; } }

.authorization__row {
  align-items: center;
  height: inherit; }

.authorization__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47.7rem;
  height: inherit;
  background-color: #F7F7F8; }
  @media only screen and (max-width: 48em) {
    .authorization__logo {
      width: auto;
      height: 29.1rem; } }
  @media only screen and (max-width: 37.5em) {
    .authorization__logo {
      width: auto;
      height: 36.4rem; } }

.authorization__form {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  max-width: 395px;
  flex-grow: 1; }
  @media only screen and (max-width: 48em) {
    .authorization__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      top: -70px; } }

.authorization__text--gray {
  color: #C6C9CE; }

.btn {
  display: inline-block;
  transition: all;
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box; }
  .btn-primary, .btn-primary:link, .btn-primary:visited {
    padding: 1.35rem 0;
    border-radius: 8px;
    background: linear-gradient(to right, #772FE4, #9431E4);
    width: 31.5rem;
    outline: none; }
    .btn-primary:hover, .btn-primary:link:hover, .btn-primary:visited:hover {
      background: white;
      color: #772FE4;
      border: 1px solid #772FE4;
      box-sizing: border-box; }
  .btn-primary--arrow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.35rem 0;
    border-radius: 9px;
    background: linear-gradient(to right, #772FE4, #9431E4);
    width: 31.5rem;
    outline: none; }
  .btn-primary--arrow::before {
    content: "";
    position: absolute;
    top: 39%;
    right: 3%;
    width: 20px;
    height: 10px;
    background-image: url(../../img/signIn-arrow.png);
    background-repeat: no-repeat; }
  .btn-primary--border {
    background-color: white;
    padding: 1.35rem 0;
    border-radius: 1.1rem;
    border: 1px solid #772FE4;
    color: #772FE4;
    width: 31.5rem;
    text-align: center; }
    .btn-primary--border:hover {
      background-color: #772FE4;
      color: white; }
  .btn-primary--arrow:focus {
    box-shadow: 0rem 0.2rem 1rem #FC997B; }
  .btn-primary:active, .btn-primary--arrow:active {
    box-shadow: 0rem 0.2rem 1rem #FC997B; }
  .btn-secondary {
    padding: 1.35rem 0;
    background-color: #F2EAFD;
    color: #772FE4;
    border-radius: 9px;
    width: 31.5rem; }
  .btn-secondary:hover {
    background-color: #772FE4;
    color: #F2EAFD; }
  .btn-secondary--fb {
    background-image: url(../../img/facebook-logo-5.png);
    background-repeat: no-repeat;
    background-position: 10% 50%; }
  .btn-secondary--goog {
    background-image: url(../../img/google-plus.png);
    background-repeat: no-repeat;
    background-position: 10% 50%; }
  .btn-secondary:active {
    color: red; }
  .btn-secondary--border {
    padding: 1.35rem 0;
    border-radius: 1.1rem;
    border-color: #772FE4; }
  .btn-circle {
    width: 5.3rem;
    height: 5.3rem;
    background: linear-gradient(45deg, #772FE4, #9431E4);
    border-radius: 50%;
    text-align: center;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 0.2rem 2rem rgba(119, 47, 228, 0.8); }
  .btn-circle:active {
    box-shadow: none; }
  .btn-thanks {
    width: 4.6rem;
    height: 4.6rem;
    border-radius: 50%;
    background-repeat: no-repeat;
    cursor: pointer; }
    .btn-thanks--active {
      background-image: url(../../img/pray-2.png);
      background-color: white;
      border: 1px solid #772FE4;
      background-position: 50%; }
    .btn-thanks--inactive {
      position: relative;
      background: linear-gradient(45deg, #772FE4, #9431E4); }
      .btn-thanks--inactive::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background-image: url(../../img/pray.png);
        width: inherit;
        height: inherit;
        background-repeat: no-repeat;
        background-position: 50%; }
  .btn__interactive {
    width: fit-content;
    display: flex;
    align-items: center;
    width: fit-content;
    border: 1px solid #EBECED;
    padding: 1.2rem 1.7rem;
    border-radius: 12px; }

.card {
  display: flex;
  max-width: 42.8rem;
  background-color: #fff;
  margin-bottom: 1.6rem;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #95989A;
  border-radius: 1rem; }
  .card__header {
    display: flex;
    width: 100%;
    padding: 9px; }
  .card__data {
    font-size: 1.2rem;
    color: #BBBEC3; }
  .card--colomn {
    flex-direction: column; }
  .card__btn {
    padding: 2px 4px;
    width: fit-content;
    font-weight: normal;
    font-size: 1rem;
    border-radius: 5px; }
  .card__btn:not(:last-child) {
    margin-right: 4px; }
  .card__functional-btn {
    align-items: center; }
  .card__image {
    width: 100%;
    height: auto; }
  .card__rating {
    position: relative;
    margin: 0 auto; }
  .card__rating-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    box-shadow: 0rem -3px 9px  #95989A;
    padding: 5px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    background-color: white; }
  .card__main {
    padding: 3rem 2rem 1rem 2rem; }
  .card__topic {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 0 1.7rem 0; }
  .card__topic > * {
    margin-right: 1rem; }
  .card__topic > *:nth-child(-n+5) {
    margin-right: 1rem;
    margin-bottom: 1rem; }
  .card__interactive-btn {
    display: flex;
    justify-content: space-between; }

.thanks-controls {
  width: 4.6rem;
  text-align: center; }
  .thanks-controls_amount {
    margin-top: 1.4rem;
    margin-bottom: .3rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #1F2A3A; }
  .thanks-controls_lable {
    font-size: 1.4rem;
    color: #C6C9CE; }

.topic {
  width: fit-content;
  padding: 4px 10px;
  border: 1px solid #EBECED;
  border-radius: 2rem; }

.form__group {
  position: relative;
  display: flex;
  width: auto;
  text-align: right;
  margin-right: auto;
  flex-wrap: wrap; }
  @media only screen and (max-width: 37.5em) {
    .form__group {
      margin-right: unset; } }
  .form__group-topic {
    display: flex; }

.form__container {
  display: flex;
  flex-direction: column;
  overflow: hidden; }
  @media only screen and (max-width: 48em) {
    .form__container {
      align-items: center; } }

.form__checkbox:not(:checked), .form__checkbox:checked {
  position: absolute;
  left: -9999px; }

.form__checkbox:not(:checked) + .form__conformation,
.form__checkbox:checked + .form__conformation {
  position: relative;
  padding-left: 4rem;
  cursor: pointer;
  padding-top: 3px; }

.form__checkbox:not(:checked) + .form__conformation::after,
.form__checkbox:checked + .form__conformation::after {
  content: '\2713\0020';
  position: absolute;
  top: 27%;
  left: 3%;
  font-size: 1.3em;
  line-height: 0.8;
  color: #772FE4;
  transition: all .2s; }

.form__checkbox:not(:checked) + .form__conformation::after {
  opacity: 0;
  transform: scale(0); }

.form__checkbox:checked + .form__conformation::after {
  opacity: 1;
  transform: scale(1); }

.form__checkbox:not(:checked) + .form__conformation::before,
.form__checkbox:checked + .form__conformation::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #EBECED;
  border-radius: 6px; }

.form__main-level {
  flex-grow: 1;
  width: 100%;
  text-align: start; }

.form__topic-container {
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 48em) {
    .form__topic-container {
      justify-content: center; } }
  .form__topic-container > * {
    margin-bottom: 1rem;
    margin-right: 1rem; }

.form__checkbox-topic:not(:checked), .form__checkbox-topic:checked {
  position: absolute;
  left: -9999px; }

.form__topic {
  position: relative;
  padding: 0.8rem 2rem;
  border-radius: 18px;
  cursor: pointer;
  color: white; }
  .form__topic--pink {
    background-color: #E84477;
    border: 1px solid #E84477; }
    .form__topic--pink:after {
      content: "";
      display: none;
      position: absolute;
      top: 20%;
      right: -1.7rem;
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 50%;
      background-image: url(../../img/checkad-pink.svg);
      background-repeat: no-repeat; }
  .form__topic--apricot {
    background-color: #FC997B;
    border: 1px solid #FC997B; }
    .form__topic--apricot:after {
      content: "";
      display: none;
      position: absolute;
      top: 20%;
      right: -1.7rem;
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 50%;
      background-image: url(../../img/checkad-apricot.svg);
      background-repeat: no-repeat; }
  .form__topic--green {
    background-color: #04DC9C;
    border: 1px solid #04DC9C; }
    .form__topic--green:after {
      content: "";
      display: none;
      position: absolute;
      top: 20%;
      right: -1.7rem;
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 50%;
      background-image: url(../../img/checkad-green.svg);
      background-repeat: no-repeat; }
  .form__topic--purpur {
    background-color: #772FE4;
    border: 1px solid #772FE4; }
    .form__topic--purpur:after {
      content: "";
      display: none;
      position: absolute;
      top: 20%;
      right: -1.7rem;
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 50%;
      background-image: url(../../img/checkad-purpur.svg);
      background-repeat: no-repeat; }
  .form__topic--blue {
    background-color: #4D46F8;
    border: 1px solid #4D46F8; }
    .form__topic--blue:after {
      content: "";
      display: none;
      position: absolute;
      top: 20%;
      right: -1.7rem;
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 50%;
      background-image: url(../../img/checkad-blue.svg);
      background-repeat: no-repeat; }

.form__checkbox-topic:checked ~ .form__topic--pink {
  background-color: white;
  color: #E84477; }

.form__checkbox-topic:checked ~ .form__topic--pink:after {
  display: block; }

.form__checkbox-topic:checked ~ .form__topic--apricot {
  background-color: white;
  color: #FC997B; }

.form__checkbox-topic:checked ~ .form__topic--apricot:after {
  display: block; }

.form__checkbox-topic:checked ~ .form__topic--green {
  background-color: white;
  color: #04DC9C; }

.form__checkbox-topic:checked ~ .form__topic--green:after {
  display: block; }

.form__checkbox-topic:checked ~ .form__topic--purpur {
  background-color: white;
  color: #772FE4; }

.form__checkbox-topic:checked ~ .form__topic--purpur:after {
  display: block; }

.form__checkbox-topic:checked ~ .form__topic--blue {
  background-color: white;
  color: #772FE4; }

.form__checkbox-topic:checked ~ .form__topic--blue:after {
  display: block; }

.form--links {
  color: #772FE4;
  text-decoration: none; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.35rem 1.3rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #C6C9CE;
  width: 31.5rem;
  display: block;
  border-radius: 5px;
  outline: none;
  color: inherit; }
  .form__input__icon {
    padding-left: 6rem; }

.form__input-data {
  color: inherit; }

.form__icon {
  padding-left: 6rem; }
  .form__icon--person {
    position: absolute;
    top: 1px;
    left: 0;
    padding: 1.5rem 1.48rem;
    border-right: 1px solid #C6C9CE; }
    @media only screen and (max-width: 53.75em) {
      .form__icon--person {
        padding: 1.3rem 1.2rem; } }
    .form__icon--person--error {
      border-right: 1px solid #E84477 !important; }
  .form__icon--password {
    position: absolute;
    top: 1px;
    left: 0;
    padding: 1.6rem 1.35rem;
    border-right: 1px solid #C6C9CE; }
    @media only screen and (max-width: 53.75em) {
      .form__icon--password {
        padding: 1.6rem 1rem; } }
    .form__icon--password--error {
      border-right: 1px solid #E84477 !important; }
    @media only screen and (max-width: 37.5em) {
      .form__icon--password {
        padding: 1.2rem 0.85rem; } }
  .form__icon--shtrudel {
    position: absolute;
    top: 1px;
    left: 0;
    padding: 1.35rem 1.6rem;
    border-right: 1px solid #C6C9CE; }
    @media only screen and (max-width: 53.75em) {
      .form__icon--shtrudel {
        padding: 1.2rem 1.4rem; } }
    @media only screen and (max-width: 37.5em) {
      .form__icon--shtrudel {
        padding: 1rem 1.4rem; } }
  .form__icon--email {
    position: absolute;
    top: 1px;
    left: 0;
    padding: 1.55rem 1.55rem;
    border-right: 1px solid #C6C9CE; }
    @media only screen and (max-width: 53.75em) {
      .form__icon--email {
        padding: 1.25rem 1.35rem; } }
    @media only screen and (max-width: 37.5em) {
      .form__icon--email {
        padding: 1.1rem 1.3rem; } }
  .form__icon--location {
    position: absolute;
    top: 1px;
    left: 0;
    padding: 1.35rem 1.55rem;
    border-right: 1px solid #C6C9CE; }
    @media only screen and (max-width: 53.75em) {
      .form__icon--location {
        padding: 1.25rem 1.35rem; } }
    @media only screen and (max-width: 37.5em) {
      .form__icon--location {
        padding: 1.1rem 1.3rem; } }
  .form__icon--age {
    position: absolute;
    top: 1px;
    left: 0;
    padding: 1.55rem 1.55rem;
    border-right: 1px solid #C6C9CE; }
    @media only screen and (max-width: 53.75em) {
      .form__icon--age {
        padding: 1.25rem 1.35rem; } }
    @media only screen and (max-width: 37.5em) {
      .form__icon--age {
        padding: 1.1rem 1.3rem; } }
  .form__icon--phone {
    position: absolute;
    top: 1px;
    left: 0;
    padding: 1.30rem 1.45rem;
    border-right: 1px solid #C6C9CE; }
    @media only screen and (max-width: 53.75em) {
      .form__icon--phone {
        padding: 1rem 1.25rem; } }
    @media only screen and (max-width: 37.5em) {
      .form__icon--phone {
        padding: 0.75rem 1.15rem; } }
  .form__icon--eye {
    position: absolute;
    top: 1.8rem;
    right: 1.5rem; }

.form__input__error {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.35rem 1.3rem;
  background-color: rgba(255, 255, 255, 0.5);
  width: 31.5rem;
  display: block;
  border-radius: 9px;
  outline: none;
  border: 1px solid #E84477; }
  .form__input__error--icon {
    padding-left: 6rem !important; }

.form__label {
  position: absolute;
  top: -24px;
  left: 0;
  font-size: 1.4rem;
  display: block;
  transition: all .3s; }
  .form__label::after {
    content: "";
    display: none;
    position: absolute;
    background-image: url(../../img/pen.png);
    background-position: 50%;
    width: 27px;
    background-repeat: no-repeat;
    height: 18px;
    top: 0;
    right: -27px; }

.form__upload-input {
  display: none; }

.form__upload-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  border: 1px solid #EBECED;
  color: #1F2A3A;
  font-size: 4rem;
  cursor: pointer;
  border-radius: 1rem; }

.form__no-pancele-label {
  position: absolute;
  top: -24px;
  left: 0;
  font-size: 1.4rem;
  display: block;
  transition: all .3s; }

.form__notification {
  display: none;
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #E84477; }

.form__input:focus:invalid {
  border: 1px solid #E84477; }

.form__input:focus:invalid ~ .form__notification {
  display: block; }

.form__input:focus {
  border: 1px solid #9431E4; }

.form__input:focus + .form__label::after {
  display: block; }

.form__input:focus + .form__icon--person {
  border-right: 1px solid #9431E4; }

.form__input:focus + .form__icon--password {
  border-right: 1px solid #9431E4; }

.avatar {
  position: relative;
  width: fit-content; }
  .avatar__wrapper {
    position: relative;
    display: flex;
    align-items: center; }
  .avatar__img {
    object-fit: none;
    width: 2.5rem;
    height: 2rem;
    display: block; }
  .avatar__crown--left {
    position: absolute;
    left: -6px; }
  .avatar__crown--right {
    position: absolute;
    right: -5px; }
  .avatar__dot {
    position: absolute;
    bottom: 3px;
    right: 2px; }
  .avatar__name {
    font-weight: bold;
    font-size: 1.6rem; }
  .avatar__up {
    display: none; }
  .avatar__drop-down {
    display: none;
    position: absolute;
    top: 5.7rem;
    left: 5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: white;
    box-shadow: 0px -0.2rem 3rem -0.7rem #C6C9CE;
    border-radius: 26px 0px 17px 23px; }
    .avatar__drop-down:target {
      display: flex; }
  .avatar__item {
    padding: 1rem; }

#avatar-menu:target ~ .avatar__up {
  display: block; }

#avatar-menu:target ~ .avatar__down {
  display: none; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all .3s;
  overflow-x: hidden;
  overflow-y: auto; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(31, 42, 58, 0.2);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s;
    width: 65rem;
    border-radius: 1rem; }
    @media only screen and (max-width: 48em) {
      .popup__content {
        position: static;
        width: 100%;
        transform: translate(0, 0) scale(1) !important; } }
  .popup__header {
    display: flex;
    justify-content: space-between;
    padding: 3rem 1.7rem;
    border-bottom: 1px solid #EBECED; }
  .popup__expended-fields:not(:last-child) {
    width: 100%; }
    @media only screen and (max-width: 48em) {
      .popup__expended-fields:not(:last-child) {
        margin-bottom: 4rem; } }
  .popup__submit-button {
    position: relative;
    bottom: -1.7rem;
    width: 109%;
    right: 2.9rem;
    border-radius: inherit; }
    @media only screen and (max-width: 48em) {
      .popup__submit-button {
        position: initial;
        width: 100%;
        border-radius: 5px; } }
  .popup__error-not {
    display: none; }
  .popup:target {
    opacity: 1;
    visibility: visible;
    pointer-events: all; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #1F2A3A;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1;
    width: 3rem;
    height: 3rem;
    border: 1px solid #EBECED;
    display: flex;
    justify-content: center;
    align-items: center; }
  .popup__close:hover {
    color: #772FE4; }
  .popup__close-background {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(31, 42, 58, 0.8);
    transition: opacity 200ms; }
    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
      .popup__close-background {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(31, 42, 58, 0.3); } }
    .popup__close-background:hover {
      opacity: 0.8; }

.container {
  display: flex;
  width: 100%; }

.header-container {
  max-width: 192rem;
  margin: 0 auto;
  background-color: #ffffff; }

.content-container {
  max-width: 192rem;
  margin: 0 auto;
  background-color: #FAFAFA;
  margin-top: 3rem; }

.row-content {
  display: flex; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 131.6rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  .row [class^="col-"]:not(:last-child) {
    margin-right: 1.6rem; }
    @media only screen and (max-width: 64em) {
      .row [class^="col-"]:not(:last-child) {
        margin-right: 0; } }
  .row .col-1-of-2 {
    flex: 0 0 calc((100% - 1.6rem) / 2); }
  .row .col-1-of-3 {
    flex: 1 1 calc((100% - 2 * 1.6rem) / 3);
    max-width: calc((100% - 2 * 1.6rem) / 3);
    margin-bottom: 1.6rem; }
    @media only screen and (max-width: 64em) {
      .row .col-1-of-3 {
        flex: 1 1 calc((100% - 1.6rem) / 2);
        max-width: calc((100% - 1.6rem) / 2); } }
    @media only screen and (max-width: 37.5em) {
      .row .col-1-of-3 {
        flex: 0 0 100%;
        max-width: 100%; } }
  .row .col-1-of-3:nth-child(3n + 0) {
    margin-right: 0; }
  @media only screen and (max-width: 46em) {
    .row .col-1-of-3:nth-child(odd) {
      margin-right: 1.6rem; } }
  @media only screen and (max-width: 37.5em) {
    .row .col-1-of-3:nth-child(odd) {
      margin-right: 0; } }
  .row .col-2-of-3 {
    max-width: calc(2 * ((100% - 2 * 1.6rem) / 3) + 1.6rem); }
  .row .col-8-of-12 {
    max-width: calc(8 * ((100% - 11 * 1.6rem) / 12) + 7 * 1.6rem); }
    @media only screen and (max-width: 48em) {
      .row .col-8-of-12 {
        max-width: calc(8 * ((100% - 11 * 1.6rem) / 12) + 7 * 1.6rem); } }
  .row .col-7-of-12 {
    flex-grow: 1;
    flex-shrink: 5;
    max-width: calc(7 * ((100% - 11 * 1.6rem) / 12) + 6 * 1.6rem); }
    @media only screen and (max-width: 53.75em) {
      .row .col-7-of-12 {
        max-width: 100%; } }
  .row .col-5-of-12 {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: calc(5 * ((100% - 11 * 1.6rem) / 12) + 4 * 1.6rem); }
    @media only screen and (max-width: 53.75em) {
      .row .col-5-of-12 {
        max-width: 100%; } }
  .row .col-3-of-12 {
    flex-grow: 1;
    width: calc(3 * ((100% - 11 * 1.6rem) / 12) + 2 * 1.6rem); }
    @media only screen and (max-width: 48em) {
      .row .col-3-of-12 {
        width: 100%; } }

.header {
  padding: 2.6rem 0; }
  .header__logo-box {
    display: flex;
    align-items: center;
    height: 100%; }
  .header__btn {
    padding: 1.2rem 1.9rem !important;
    width: auto !important;
    font-family: "Avenir Next-Demibold"; }
  .header__right-container {
    display: flex;
    align-items: center; }
  .header__message-link {
    position: relative; }
  .header__tool-tip {
    position: absolute;
    top: -0.8rem;
    left: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.6rem;
    height: 1.6rem;
    background-color: #772FE4;
    color: white;
    border-radius: 40%; }
  .header__form {
    padding: 1.7rem; }
    @media only screen and (max-width: 48em) {
      .header__form {
        padding: 3rem; } }

.cont-1, .cont-2 {
  display: none; }

.bla #tab1:checked ~ .cont-1 {
  display: block; }

#tab2:checked ~ .cont-1 {
  display: none; }

#tab2:checked ~ .cont-2 {
  display: block; }

.auth-section {
  height: 100vh;
  background-color: #1F2A3A; }
  @media only screen and (max-width: 48em) {
    .auth-section {
      background-color: white; } }

.general-section {
  max-width: 192rem; }
