// COLORS
$color-base-white: #ffffff;
$color-content-bg: #FAFAFA;

$color-base-dark: #1F2A3A;
$color-base-dark_gray: #797F89;
$color-base-gray: #C6C9CE;
$color-base-light_gray: #95989A;
$color-base-light_gray2: #BBBEC3;


$color-primary: #772FE4;
$color-primary-light: #9431E4;

$color-secondary-green: #04DC9C;
$color-secondary-pink_apricot: #FC997B;
$color-secondary-orange: #FCB462;
$color-secondary-blue: #4D46F8;
$color-secondary-barbie_pink: #E84477;


// FONT
$default-font-size: 1.6rem;
$font-size-h1: 2rem;
$font-size-h2: 1.6rem;
$font-size-h3: 1.4rem;
$font-size-h4: 1.2rem;
$font-size-h5: 1rem;

//BORDER
$border-grey: 1px solid #EBECED;

// GRID
$general-container:192rem;
$grid-width: 131.6rem;
$gutter-horizontal: 1.6rem;
$gutter-vertical: 4rem;