  .container {
      display: flex;
      width: 100%;
  }
  .header-container {
      max-width: $general-container;
      margin: 0 auto;
      background-color: $color-base-white;                 
  }
  .content-container {
    max-width: $general-container;
    margin: 0 auto;
    background-color: $color-content-bg;
    margin-top: 3rem;                 
   }   
    .row-content {
        display: flex;
    }     
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }
    



    [class^="col-"] {
        &:not(:last-child) {
            margin-right: $gutter-horizontal;
            @include respond(desktop) {
                margin-right: 0;
            }
        }

    }

    .col-1-of-2 {
        flex: 0 0 calc((100% - #{$gutter-horizontal}) / 2);  
    }
//this grid is used for cards
    .col-1-of-3 {
        flex: 1 1 calc((100% - 2 * #{$gutter-horizontal}) / 3);
        max-width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
        margin-bottom: $gutter-horizontal;
        @include respond(desktop) {
            flex: 1 1 calc((100% - #{$gutter-horizontal}) / 2); 
            max-width: calc((100% - #{$gutter-horizontal}) / 2);
        }
        @include respond(phone) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .col-1-of-3:nth-child(3n + 0){
        margin-right: 0;
    }
    .col-1-of-3:nth-child(odd){
        @include respond(card2col) {
            margin-right: $gutter-horizontal;
        }
        @include respond(phone) {
            margin-right: 0;
        }
    }

    
    .col-2-of-3 {
        max-width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
    }
    //this grid is used for authrization section
    .col-8-of-12 {
        // firstly we find the width a single column without gaps (11) then we determinate the quontity of needed for us column (8) make multiyplition and then we add all the gaps which include in our 8 columns (7)
        // flex: 0 0 calc(8 * ((100% - 11 * #{$gutter-horizontal}) / 12) + 7 * #{$gutter-horizontal});
        max-width: calc(8 * ((100% - 11 * #{$gutter-horizontal}) / 12) + 7 * #{$gutter-horizontal});
        @include respond(mobDevise) {
            // flex: 0 0 calc(4 * ((100% - 11 * #{$gutter-horizontal}) / 12) + 3 * #{$gutter-horizontal});
            max-width: calc(8 * ((100% - 11 * #{$gutter-horizontal}) / 12) + 7 * #{$gutter-horizontal});
        }
    }
   
    //this grid is used for header section
    .col-7-of-12 {
        flex-grow: 1;
        flex-shrink: 5;
        max-width: calc(7 * ((100% - 11 * #{$gutter-horizontal}) / 12) + 6 * #{$gutter-horizontal});
        @include respond(tab-port) {
            max-width: 100%;
         }
    }
    .col-5-of-12 {
        flex-grow: 1;
        flex-shrink: 1;
        max-width: calc(5 * ((100% - 11 * #{$gutter-horizontal}) / 12) + 4 * #{$gutter-horizontal});
        @include respond(tab-port) {
            max-width: 100%;
         }
    }
   //this grid is used for the tip the world modal window (2row fields) 
    .col-3-of-12 {
        flex-grow: 1;
        width: calc(3 * ((100% - 11 * #{$gutter-horizontal}) / 12) + 2 * #{$gutter-horizontal});
        @include respond(mobDevise) {
           width: 100%;
        }
    }


    

}
