.header {
    padding: 2.6rem 0;
    &__logo-box {
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__btn {
        padding: 1.2rem 1.9rem;
        width: auto;
        font-family: "Avenir Next-Demibold";
    }
    &__right-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__message-link {
        position: relative;
    }
    &__tool-tip {
        position: absolute;
        top: -0.8rem;
        left: 1.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.6rem;
        height: 1.6rem;
        background-color: $color-primary;
        color: white;
        border-radius: 40%;
    }
}