.authorization {
    &__container {
        display: flex;
        background-color: white;
        height: 884px;
        @include respond(mobDevise) {
            flex-direction: column;
            height: 100vh;
        }

    }
    &__row {
        align-items: center;
        height: inherit;
    }
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 47.7rem;
        @include respond(mobDevise) {
            width: auto;
            height: 29.1rem;
        }
        @include respond(phone) {
            width: auto;
            height: 36.4rem;
        }

        height: inherit;
        background-color: $color-baje;
    }
    &__form {
        display: flex;
        flex-direction: column;
        padding: 4rem;
        max-width: 395px;
        flex-grow: 1;
        @include respond(mobDevise) {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            top: -70px;
        }
    }
    &__text--gray {
      color:  $color-base-gray;
    }
}