.btn {
    display: inline-block;
    transition: all;
    color: white;
    text-decoration: none;
    font-size: $default-font-size;
    font-weight: bold;
    font-family: inherit;
    border: none;
    cursor: pointer;
    text-align: center;
  &-primary,
  &-primary:link,
  &-primary:visited {
    padding: 1.35rem 0;
    border-radius: 1.1rem;
    background: linear-gradient(
      to right,
      $color-primary,
      $color-primary-light
    );
    width: 31.5rem;
    
  }
  &-primary--border {
    background-color: white;
    padding: 1.35rem 0;
    border-radius: 1.1rem;
    border: 1px solid $color-primary;
    color: $color-primary;
    width: 31.5rem;
    text-align: center;
  }
  &-primary:focus {
    outline: none;
  }
  &-primary:hover {
    color: $color-secondary-pink_apricot
  }
  &-primary:active {
    box-shadow: 0rem 0.2rem 1rem $color-secondary-pink_apricot
  }
  &-secondary {
    padding: 1.35rem 0;
    background-color: #F2EAFD;
    color: $color-primary;
    border-radius: .4rem;
    width: 31.5rem;
    
  }
  &-secondary--fb{
      background-image: url(../../img/facebook-logo-5.png);
      background-repeat: no-repeat;
      background-position: 10% 50%;
      
  }
  &-secondary:active {
      color: red;
  }
  &-secondary--border {
    padding: 1.35rem 0;
    border-radius: 1.1rem;
    border-color:  $color-primary;
  }
  &-circle {
    width: 5.3rem;
    height: 5.3rem;
    background: linear-gradient(
        45deg,
        $color-primary,
        $color-primary-light
      );
    border-radius: 50%;
    text-align: center;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 0.2rem 2rem rgba($color-primary, 0.8)
    
  }
  &-circle:active {
    box-shadow: none;
  }
  &-thanks {
    width: 4.6rem;
    height: 4.6rem;
    border-radius: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    
      &--active {
        background-image: url(../../img/pray-2.png);
        background-color: white;
        border: 1px solid $color-primary;
        background-position: 50%;
      }
      &--inactive {
          position: relative;
        background: linear-gradient(
            45deg,
            $color-primary,
            $color-primary-light
          );
      &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          background-image: url(../../img/pray.png);
          width: inherit;
          height: inherit;
          background-repeat: no-repeat;
          background-position: 50%;
      }
      }
  }
&__interactive {
    width: fit-content;
    display: flex;
    align-items: center;
    width: fit-content;
    border: $border-grey;
    padding: 1.2rem 1.7rem;
    border-radius: 12px;
}
}

