.card {
    display: flex;
    width: 42.8rem;
    background-color: #fff;
    margin-bottom: 1.6rem;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid $color-base-light_gray;
    border-radius: 1rem;
    &__header {
        display: flex;
        width: 100%;
        padding: 9px;  
    }
    &__data {
        font-size: 1.2rem;
        color: $color-base-light_gray2;
    }
    &--colomn {
        flex-direction: column;
    }
    &__btn {
        padding: 2px 4px;
        width: fit-content;
        font-weight: normal;
        font-size: 1rem;
        border-radius: 5px;
    }
    &__btn:not(:last-child) {
        margin-right: 4px;
    }
    &__functional-btn {
        align-items: center;
    }
    &__image {
        width: 100%;
        height: auto;
    }
    &__rating {
        position: relative;
        margin: 0 auto;
    }
    &__rating-container {
        @include absCenter;
        width: 275px;
        box-shadow: 0rem 1rem 3rem #95989A;
        padding: 5px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 14px;
        background-color: white;
    }
    &__main {
        padding: 3rem 2rem 1rem 2rem;
    }
}