.form {
    &__group {
        position: relative;
        display: flex;
        width: auto;
        text-align: right;
        @include respond(phone) {
            margin-right:unset;
        }
        margin-right: auto;
        flex-wrap: wrap;
        &-topic {
            display: flex;
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        @include respond(mobDevise) {
            align-items: center;
         }
        
    }
    &__checkbox:not(:checked), &__checkbox:checked {
        position: absolute;
        left: -9999px;
    }
    &__checkbox:not(:checked) + &__conformation, 
    &__checkbox:checked + &__conformation  {
        position: relative;
        padding-left: 4rem;
        cursor: pointer;
        padding-top: 3px;

    }
    &__checkbox:not(:checked) + &__conformation::after, 
    &__checkbox:checked + &__conformation::after  {
        content: '\2713\0020';
        position: absolute;
        top: 27%;
        left: 3%;
        font-size: 1.3em;
        line-height: 0.8;
        color: $color-primary;
        transition: all .2s;
    }
    &__checkbox:not(:checked) + &__conformation::after {
    opacity: 0;
    transform: scale(0);
    }
    &__checkbox:checked + &__conformation::after {
        opacity: 1;
        transform: scale(1);
    }
    &__checkbox:not(:checked) + &__conformation::before, 
    &__checkbox:checked + &__conformation::before  {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 2.5rem;
        height: 2.5rem;
        border: $border-grey;
        border-radius: 6px;
    }

    // topic
    &__main-level {
        flex-grow: 1;
        width: 100%;
        text-align: start;
    }
    &__topic-container {
        display: flex;
        flex-wrap: wrap;
        @include respond(mobDevise) {
           justify-content: center;
        }
        & > *{
            margin-bottom: 1rem;
            margin-right: 1rem;
        }
        // & > *:not(:last-child) {
        //     margin-right: 1rem;
        // }
    }
    &__checkbox-topic:not(:checked), &__checkbox-topic:checked {
        position: absolute;
        left: -9999px;
    }

    &__topic {
        position: relative;
        padding: 0.8rem 2rem;
        border-radius: 18px;
        cursor: pointer;
        color: white;
        &--pink {

            background-color: $color-secondary-barbie_pink;
            border: 1px solid $color-secondary-barbie_pink;
            &:after {
                content: "";
                display: none;
                position: absolute;
                top: 20%;
                right: -1.7rem;
                width: 2.8rem;
                height: 2.8rem;
                border-radius: 50%;
                background-image: url(../../img/checkad-pink.svg);
                background-repeat: no-repeat;
            }
        }
        &--apricot {
            background-color: $color-secondary-pink_apricot;
            border: 1px solid $color-secondary-pink_apricot;
            &:after {
                content: "";
                display: none;
                position: absolute;
                top: 20%;
                right: -1.7rem;
                width: 2.8rem;
                height: 2.8rem;
                border-radius: 50%;
                background-image: url(../../img/checkad-apricot.svg);
                background-repeat: no-repeat;
               }
            }
            &--green {
                background-color: $color-secondary-green;
                border: 1px solid $color-secondary-green;
                &:after {
                    content: "";
                    display: none;
                    position: absolute;
                    top: 20%;
                    right: -1.7rem;
                    width: 2.8rem;
                    height: 2.8rem;
                    border-radius: 50%;
                    background-image: url(../../img/checkad-green.svg);
                    background-repeat: no-repeat;
                   }
                }
                &--purpur {
                    background-color: $color-primary;
                    border: 1px solid $color-primary;
                    &:after {
                        content: "";
                        display: none;
                        position: absolute;
                        top: 20%;
                        right: -1.7rem;
                        width: 2.8rem;
                        height: 2.8rem;
                        border-radius: 50%;
                        background-image: url(../../img/checkad-purpur.svg);
                        background-repeat: no-repeat;
                       }
                    }
                    &--blue {
                        background-color: $color-secondary-blue;
                        border: 1px solid $color-secondary-blue;
                        &:after {
                            content: "";
                            display: none;
                            position: absolute;
                            top: 20%;
                            right: -1.7rem;
                            width: 2.8rem;
                            height: 2.8rem;
                            border-radius: 50%;
                            background-image: url(../../img/checkad-blue.svg);
                            background-repeat: no-repeat;
                           }
                        }
    }
    &__checkbox-topic:checked ~ &__topic--pink {
        background-color: white;
        color:$color-secondary-barbie_pink;
    }
    &__checkbox-topic:checked ~ &__topic--pink:after {
        display: block;
    }
    &__checkbox-topic:checked ~ &__topic--apricot {
        background-color: white;
        color:$color-secondary-pink_apricot;
    }
    &__checkbox-topic:checked ~ &__topic--apricot:after {
        display: block;
    }
    &__checkbox-topic:checked ~ &__topic--green {
        background-color: white;
        color:$color-secondary-green;
    }
    &__checkbox-topic:checked ~ &__topic--green:after {
        display: block;
    }
    &__checkbox-topic:checked ~ &__topic--purpur {
        background-color: white;
        color:$color-primary;
    }
    &__checkbox-topic:checked ~ &__topic--purpur:after {
        display: block;
    }
    &__checkbox-topic:checked ~ &__topic--blue {
        background-color: white;
        color:$color-primary;
    }
    &__checkbox-topic:checked ~ &__topic--blue:after {
        display: block;
    }


    &--links {
        color: $color-primary;
        text-decoration: none;
    }
//for input item
    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1.35rem 1.3rem;
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid $color-base-gray;
        width: 31.5rem;
        display: block;
        border-radius: 9px;
        outline: none;
        &__icon {
            padding-left: 6rem;
        }
    }
 //for img item   
    &__icon {
        padding-left: 6rem;
        &--person {
            position: absolute;
            top: 1px;
            @include respond(tab-port) {
                padding: 1.3rem 1.2rem;
            }
            padding: 1.5rem 1.48rem;
            border-right: 1px solid $color-base-gray;
            &--error {
                border-right: 1px solid $color-secondary-barbie_pink !important;
            }
        }
        &--password {
            position: absolute;
            top: 1px;
            @include respond(tab-port) {
                padding: 1.6rem 1rem;
            }
            padding: 1.6rem 1.35rem;
            border-right: 1px solid $color-base-gray;
            &--error {
                border-right: 1px solid $color-secondary-barbie_pink !important;
            }
            @include respond(phone) {
                padding: 1.2rem 0.85rem;
            }
        }
        &--shtrudel {
            position: absolute;
            top: 1px;
            padding: 1.35rem 1.6rem;
            border-right: 1px solid $color-base-gray;
            @include respond(tab-port) {
                padding: 1.2rem 1.4rem;
            }
            @include respond(phone) {
                padding: 1rem 1.4rem;
            }
        }
        &--email {
            position: absolute;
            top: 1px;
            padding: 1.55rem 1.55rem;
            border-right: 1px solid $color-base-gray;
            @include respond(tab-port) {
                padding: 1.25rem 1.35rem;
            }
            @include respond(phone) {
                padding: 1.1rem 1.3rem;
            }
        }
        &--age {
            position: absolute;
            top: 1px;
            padding: 1.55rem 1.55rem;
            border-right: 1px solid $color-base-gray;
            @include respond(tab-port) {
                padding: 1.25rem 1.35rem;
            }
            @include respond(phone) {
                padding: 1.1rem 1.3rem;
            }
        }
        &--phone {
            position: absolute;
            top: 1px;
            padding: 1.30rem 1.45rem;
            border-right: 1px solid $color-base-gray;
            @include respond(tab-port) {
                padding: 1rem 1.25rem;
            }
            @include respond(phone) {
                padding: 0.75rem 1.15rem;
            }
        }
        &--eye {
            position: absolute;
            top: 1.8rem;
            right: 1.5rem;
        }


    }
    //for input error item
    &__input__error {
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1.35rem 1.3rem;
        background-color: rgba(255, 255, 255, 0.5);
        width: 31.5rem;
        display: block;
        border-radius: 9px;
        outline: none;
        border: 1px solid $color-secondary-barbie_pink;
        &--icon {
            padding-left: 6rem !important;
        }
    }
    // for label
    &__label {
        position: absolute;
        top: -24px;
        font-size: 1.4rem;
        display: block;
        transition: all .3s;
        &::after {
            content: "";
            display: none;
            position: absolute;
            background-image: url(../../img/pen.png);
            background-position: 50%;
            width: 27px;
            background-repeat: no-repeat;
            height: 18px;
            top: 0;
            right: -27px;
        }

    }
    //for p item
    &__notification {
        margin-top: 1rem;
        font-size: 1.4rem;
        color: $color-secondary-barbie_pink;
    }
    //dinamic behavier
    &__input:focus {
        border: 1px solid $color-primary-light;
        
    }
    &__input:focus +  &__label::after {
        display: block;
    }
    &__input:focus +  &__icon--person {
        border-right: 1px solid $color-primary-light;
    }
    &__input:focus +  &__icon--password {
        border-right: 1px solid $color-primary-light;
    }

}
