.u-center-text { text-align: center !important; }

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-big { 
    margin-bottom: 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }
.u-margin-left-0.5 {
    margin-left: 0.5rem;
}
.u-margin-left-1 {
    margin-left: 1rem;
}
.u-margin-left-15 {
    margin-left: 1.5rem;
}
.u-margin-left-2 {
    margin-left: 2rem;
}
.u-margin-left-3 {
    margin-left: 3rem;
}
.u-margin-right-05 {
    margin-right: 0.5rem;
}
.u-margin-right-1 {
    margin-right: 1rem;
}
.u-margin-right-15 {
    margin-right: 1.5rem;
}
.u-margin-right-2 {
    margin-right: 2rem;
}
.u-margin-top-05 {
    margin-top: 0.5rem;
}
.u-margin-top-1 {
    margin-top: 1rem;
}
.u-margin-top-15 {
    margin-top: 1.5rem;
}
.u-margin-top-2 {
    margin-top: 2rem;
}
.u-margin-bottom-05 {
    margin-bottom: 0.5rem;
}
.u-margin-bottom-1 {
    margin-bottom: 1rem;
}
.u-margin-bottom-15 {
    margin-bottom: 1.5rem;
}
.u-margin-bottom-2 {
    margin-bottom: 2rem;
}