.auth-section {
    height: 100vh;
    background-color: $color-base-dark;
    @include respond(mobDevise) {
        background-color: white;
    }
}
.general-section {
    max-width: $general-container;
}


