.sign-in {
    height: 100vh;
    background-color: $color-base-dark;
    @include respond(mobDevise) {
        background-color: white;
    }
}
.registration {
    height: 100vh;
    background-color: $color-base-dark;
    @include respond(mobDevise) {
        background-color: white;
    }
}

.section-features {


}

.section-tours {

}

.section-stories {

}

.section-book {

}
